a {
    text-decoration: none;
}

*{
    position: relative;
    background-color: var(--color-bg2);
    color: var(--color-font);
}


@media (max-width:800px) {
    body{
    font-size: 14px;  
}
table{
    width: 50%;
}
}